@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.br {
    border: red solid 2px;
}

html {
    font-size: 16px;
}

body {
    max-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.row {
    max-width: 100%;
    margin-bottom: 3rem;
}

.part1 {
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background-size: cover;
    background-position: center;
    background-color: hsl(356, 100%, 66%);
    color: white;
    border-radius: 0 0 0 3rem;
    padding-top: 3rem;

}

.divPart1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom:1rem ;
    align-items: center;
}


.display{
    display: block;
}
.none{
 display: none;   
}

#company , #product , #connect{
    width: 8rem;
    background-color: white;
    color: black;
    z-index: 1;
    border-radius: 0.3rem;
    position: absolute;
    top: 5rem;
    left: 18rem;
}
#company{
    top: 5rem;
    left: 27rem;
}
#connect{
    top: 5rem;
    left: 35rem;
}
 ul{
    list-style: none;
}
.navPart1 div ul li{
    margin: 0.5rem;
}
.navPart1 div ul li:hover{
 font-weight: bolder;
 cursor: pointer;
}

.icon {
    background-color: white;
    color: hsl(356, 100%, 66%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin-left: 1.5rem;
    padding: 0.7rem;
    width: 8rem;
}

.icon2 {
    width: 10rem;
    background-color: white;
    color: hsl(356, 100%, 66%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    height: 2rem;
    margin: 2rem;
    padding: 1rem;
}
.navPart1{
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}
.navPart1 img{
    margin-right: 3rem;
}
h1 {
    margin: 1rem;
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.icons ,.loginAndSign{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    margin-right: 3rem;
}
span,p,i,a{
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;  
}

.icon2:hover,.icon:hover{
   background-color: hsla(240, 2%, 90%, 0.767);
   color: white;
   cursor: pointer;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.rowDown,.row4Down{
    display: flex;
    max-width: 95%;
    justify-content: center;
    align-items: center;
}
.inner{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.left,.right,.right4,.left4{
    width: 50%;
}
.up,.down{
     padding: 3rem;
}
.right img{
    width: 100%;
    height: 37rem;
    position: relative;
    left: 14rem;
}
h3,h2{
    color: hsl(208, 49%, 24%);
    margin-bottom: 1rem;
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}
h2{
    margin-top: 2rem;
}
.up p , .down p{
    color: hsl(207, 13%, 34%);
}



.row3{
    display: flex;
    background-color: hsl(237, 17%, 21%);
    height: 22rem;
    width: 100%;
    border-radius: 0 5rem 0 5rem;
    margin-top: 7rem;
    margin-bottom: 6rem;
}
.row3Left{
    width: 50%;
    margin-left: 3rem;
    background-image: url(images/bg-pattern-circles.svg);
    background-size: cover;
    background-position: center;
}
.row3Right{
    width: 50%;
    margin-right: 3rem;
    padding: 1rem;
}
.row3Left img{
    width: 90%;
    height: 32rem;
    position: relative;
    bottom: 4rem;
}
.row3Right p , .row3Right h2{
    color: white;
}
.row3Right p{
     color: hsl(240, 2%, 79%);
     font-family: "Ubuntu", serif;
     font-weight: 300;
     font-style: normal;  
}

p{
    line-height: 1.7rem;
}
.right4 img{
    width: 120%;
    height: 37rem;
    position: relative;
    right: 13.5rem;
}

.left .up,.left .down{
    padding-right: 1rem;
}

.part5{
    width: 100%;
    background-color: hsl(240, 10%, 16%);
    display: flex;
    padding-inline: 8rem;
    justify-content: space-between;
    border-radius: 0 3.5rem 0 0;
    padding-block: 3rem;
    margin-top: 3rem;
}

.part5 li{
    color: hsl(207, 13%, 34%);
    margin: 0.5rem;
    padding: 0.5rem;
    list-style: none;
}
.part5 img{
    width: 7rem;
    height: 3rem;
}
.part5 li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.part5 a{
  margin-left: 1rem ;
}